<div class="uk-section">
    <div class="uk-container">
        <h1 class="uk-heading-divider">Welcome to our site</h1>
        {{#if user}}
        <p>Logged in as {{user.first_name}} {{user.last_name}}</p>
        {{else}}
        <p>Please log in to access more features.</p>
        <p>Don't have an account? <a href="/sign-up" class="uk-link-muted">Sign Up</a></p>
        <form id="loginForm" action="/api/users/login" method="POST">
            <div class="uk-margin">
                <label for="email">Email:</label>
                <input class="uk-input" type="email" id="email" name="email" placeholder="Enter your e-mail" required>
            </div>
            <div class="uk-margin">
                <label for="password">Password:</label>
                <input class="uk-input" type="password" id="password" name="password" placeholder="Enter your password"
                    required>
            </div>
            <button class="uk-button uk-button-primary" type="submit">Log In</button>
        </form>
        <script>
            document.getElementById('loginForm').addEventListener('submit', async function (event) {
                event.preventDefault()

                let email = document.querySelector('input[name="email"]').value
                let password = document.querySelector('input[name="password"]').value

                try {
                    const response = await fetch('/api/users/login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ email, password })
                    })

                    const result = await response.json()

                    if (response.ok) {
                        window.location.href = '/'
                    } else {
                        alert(result.message)
                    }
                } catch (error) {
                    console.error('Error:', error)
                    UIkit.notification(
                        "An error occurred while logging in.<br>Please verify your username and password.",
                        {status: 'danger', pos: 'bottom-center'}
                    )
                }
            })
        </script>
        {{/if}}
    </div>
</div>